.left {
	text-align: left;
	color: green;
	margin: 10em;
	float: left;
}

.right {
	color: green;
	margin: 10em;
	float: right;
	text-align: right;
	font-weight: bold;
}

.left, .right {
	padding: 5px;
}

.a, .b {
	color: black;
}

.a {
	color: black;
}